@use 'sass:map';
@import 'style/page/theme';

.breadcrum {
    display: flex;
    align-items: center;
    margin: 30px 0;
    padding: 45px 0 40px;
    justify-content: center;
    line-height: 30px;
    background: map.get($theme-colors, "main");
    text-align: center;

    .breadcrum_text {
        color: #ffffff;

        h2 {
            margin-top: 10px;
        }

        ul {
            display: flex;
            list-style: none;
            column-gap: 10px;

            li {
                text-decoration: underline;
                color: map.get($theme-colors, "description");
                
                a {
                    text-decoration: none;
                    color: #ffffff;
                }

                &.link {
                    text-decoration: none;
                    :hover {
                        color: map.get($theme-colors, "description");    
                    }
                }
            }
        }
    }   
}